__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

.env
.env.*

venv/
env/
ENV/
.venv/

.vscode/
.idea/
*.swp

*.log
*.pot
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
pip-wheel-metadata/
*.manifest
*.spec

node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

.vercel/
